recursive-include doc *.txt
include MANIFEST.in
include MANIFEST
include ChangeLog
include HISTORY
include GPL
include pymemcompat.h
recursive-include tests *.py
include metadata.cfg
include site.cfg
include setup_*.py
include ez_setup.py

